<li>
  Chupacabra
 <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</li>
<div>
  <div id="app">
    <input v-model="person" placeholder="person">
    <input v-model="message" placeholder="message">
    <br />
    <span>{{person}} {{message}}</span>
  </div>
</div>
