<li>
  Chupacabra
 <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</li>
<div>
  <% @periods.each do |p| %>
    <%= p.name %>
    <% p.jobs.each do |j| %>
      <%= j.name %>
    <% end %>
  <% end %>
</div>
